<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <environments default="postgresql">
        <environment id="postgresql">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.postgresql.jdbc.Driver"></property>
                <property name="url" value="jdbc:postgresql:///hospital"></property>
                <property name="username" value="postgres"></property>
                <property name="password" value="123.com"></property>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="*.xml"></mapper>
    </mappers>
</configuration>