<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.example.people.mapper.OrderMapper">
    <resultMap id="orderResultMap" type="com.example.people.pojo.Orders">
        <result property="id" column="id" />
        <result property="peopleId" column="people_id"/>
    </resultMap>
    <select id="getById" resultMap="orderResultMap">
        select *
        from orders
        where id = #{id}
    </select>

    <select id="list" resultMap="orderResultMap">
        select * from orders;
    </select>
</mapper>